html,
body,
* {
  margin-left: 20;
  box-sizing: border-box;
}

body {
  background-color: #22312e;
  color: rgb(193, 218, 212);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
}

button {
  font-size: 15px;
  font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue';
  background-color:rgb(66, 91, 94);
  color: rgb(193, 218, 212);
}

.box {
  background-color: #14201e;
  width: 40rem;
  height: 17rem;
  padding:0.5rem;
}

.ee{
  font-size: 1.2rem;
}